@import url('header.css');
@import url('footer.css');
@import url('common.css');

main * {
    font-size: 18px;
}
fieldset {
    border: 1px solid gray;
}

button[type=submit] {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px gray solid;
}


ul{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px;
}

.forms{
    font-size: smaller;
    font-weight: 100;
}

.accept{
    background-color: rgb(244, 172, 172) !important;
}

*{
    margin:0;
    padding: 0;
    color: red !important;
}

